
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
	<tbody>

		@foreach(var pr in product) {
			<tr>
				<td>
					@Model
				</td>
				<td>
					@Model
				</td>
			</tr>
		}

	</tbody>
</table>
