@model IEnumerable<Configurator2.product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1></h1>
<table>
	@foreach (var product in Model) {
		<tr>
			<td>
				@product.ProductName
			</td>
		</tr>

	}
	
</table>
