@model Configurator2.ViewModels.ProductFormViewModel
@{
    ViewBag.Title = "ProductForm";
}

@using(Html.BeginForm("Save", "Products")) {

	<div class="form-group">
		<h2>Product: @Model.ProductName</h2>
	</div>

	<div class="form-group">
		@Html.LabelFor(m=>m.ParPercentageBlending):
		@Html.TextBoxFor(m=>m.ParPercentageBlending,new { @class = "form-control" })
	</div>

	@Html.HiddenFor(m=>m.ProductIdentifier)

	<button type="submit" class="btn btn-primary">Save Changes</button>
}
