@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>BRMO</h1>
	<h2>Stockyard Configurator</h2>
	<p class="lead">This application is used to configure the stockyard, stacker and reclaimer parameters</p>
	<p class="lead">A password is required to change the parameters</p>
</div>

