@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>BRMO</h1>
	<h2>Stockyard Configurator</h2>
	<br />
	<p class="lead">This application is used to configure the stockyard, stacker and reclaimer parameters</p>
	<p class="lead">To Enable Editing, click on the top right menu item (Edit Status) and type the required password. Click on this item again to Disable Editing</p>
</div>

